/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Abel");
@import url("https://fonts.googleapis.com/css?family=Abel");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  --base-font-size: 20px; }

body {
  --bg-color: #44749d;
  --bg-content-color: #fff;
  --bg-code: #fffbf3;
  --body-color: #000;
  --title-color: #fff;
  --link-color: #fff;
  --border-color:  #000;
  --post-title-color: #000;
  --space: 3.5rem;
  --content-width: 860px;
  --header-height: 60px;
  --radius: 5px; }

@media screen and (max-width: 650px) {
  html {
    --base-font-size: 17px; }
  body {
    --space: 1.5rem;
    --header-height: 60px; } }

body[data-theme="dark"] {
  --bg-color: #0D2538;
  --bg-content-color: #0f2d44;
  --bg-code: rgba(0,0,0,.3);
  --border-color:  rgba(255,255,255,.1);
  --body-color: #ced8de;
  --title-color: #fff;
  --link-color: #eee;
  --post-title-color: #fff; }

html {
  font-size: var(--base-font-size); }

body {
  font-family: 'Abel', sans-serif;
  font-weight: 400;
  line-height: 1.45; }

p {
  margin-bottom: 1.25em; }

h1, h2, h3, h4, h5 {
  transition: color .6s;
  color: var(--title-color);
  margin: 2.75rem 0 1rem;
  font-family: 'Abel', sans-serif;
  font-weight: 600;
  line-height: 1.15; }

h1 {
  margin-top: 0;
  font-size: 2.5em; }

h2 {
  font-size: 1.602em; }

h3 {
  font-size: 1.424em; }

h4 {
  font-size: 1.266em; }

h5 {
  font-size: 1.125em; }

small {
  font-size: 0.889em; }

strong {
  font-weight: 600; }

blockquote {
  border-left: 4px solid var(--border-color);
  padding-left: calc(var(--space) / 2);
  color: var(--title-color); }

em {
  font-style: italic; }

ul {
  list-style-type: disc;
  margin-left: 1.25em;
  margin-bottom: 1.25em; }
  ul li {
    margin-bottom: .6em; }

ol {
  list-style-type: decimal;
  margin-left: 1.25em;
  margin-bottom: 1.25em; }
  ol li {
    margin-bottom: .6em; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background-color: var(--bg-color);
  color: var(--body-color);
  transition: color .6s, background-color .6s;
  font-family: 'Abel', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5; }

a:not(.button) {
  color: var(--link-color);
  transition: opacity .2s; }
  a:not(.button):hover {
    opacity: .8; }

img {
  max-width: 100%; }

/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
pre {
  padding: calc(var(--space) / 2);
  font-size: .85em;
  background-color: var(--bg-code);
  margin-bottom: 2em;
  border: 1px solid var(--border-color);
  border-radius: var(--radius); }

code {
  background-color: var(--bg-code);
  border: 1px solid var(--border-color);
  font-size: .85em;
  padding: .2em .5em; }

code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }

/* Code blocks */
pre[class*="language-"] {
  overflow: auto; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  border-radius: var(--radius);
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #c71b7b; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #9a6e3a;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #20a7e0; }

.token.function,
.token.class-name {
  color: #DD4A68; }

.token.regex,
.token.important,
.token.variable {
  color: #e90; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

.content-box {
  background-color: var(--bg-content-color);
  max-width: var(--content-width);
  margin: 0 auto;
  transition: background-color .6s;
  padding: var(--space);
  border-radius: var(--radius);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.02), 1px 1px 15px 0 rgba(0, 0, 0, 0.03);
  transition: transform .3s, background-color .3s, box-shadow .6s; }

.text-center {
  text-align: center; }

.space-bottom {
  margin-bottom: var(--space); }

/*

install sassc (or use vscode)
=> sassc index.scss index.css

*/
.post-title {
  padding: calc(var(--space) / 2) 0 calc(var(--space) / 2);
  text-align: center; }

.post {
  background-color: var(--bg-color); }
  .post__header {
    width: calc(100% + var(--space) * 2);
    margin-left: calc(var(--space) * -1);
    margin-top: calc(var(--space) * -1);
    margin-bottom: calc(var(--space) / 2);
    overflow: hidden;
    border-radius: var(--radius) var(--radius) 0 0; }
    .post__header img {
      width: 100%; }
    .post__header:empty {
      display: none; }
  .post__content h2:first-child {
    margin-top: 0; }
  .post__content p:first-of-type {
    font-size: 1em;
    color: var(--body-color); }
  .post__content img {
    width: calc(100% + var(--space) * 2);
    margin-left: calc(var(--space) * -1);
    display: block;
    max-width: none; }

.post-comments {
  padding: calc(var(--space) / 2); }
  .post-comments:empty {
    display: none; }

.post-author {
  margin-top: calc(var(--space) / 2); }

div.booking-page {
  --border-radius: 2px;
  --box-shadow: 2px 2px 10px;
  --color: #118bee;
  --color-accent: #118bee15;
  --color-bg: #fff;
  --color-bg-secondary: #e9e9e9;
  --color-secondary: #920de9;
  --color-secondary-accent: #920de90b;
  --color-shadow: #f4f4f4;
  --color-text: #000;
  --color-text-secondary: #999;
  /* --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
  --hover-brightness: 1.2;
  --justify-important: center;
  --justify-normal: left;
  --line-height: 1.5;
  --width-card: 285px;
  --width-card-medium: 460px;
  --width-card-wide: 800px;
  --width-content: 1080px; }

div.booking-page {
  /* Tables */ }
  div.booking-page button {
    border-radius: var(--border-radius);
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    line-height: var(--line-height);
    margin: 0.5rem 0;
    padding: 1rem 2rem; }
  div.booking-page button {
    /* font-family: var(--font-family); */
    background-color: var(--color);
    border: 2px solid var(--color);
    color: var(--color-bg); }
  div.booking-page button:hover {
    cursor: pointer;
    filter: brightness(var(--hover-brightness)); }
  div.booking-page button:disabled,
  div.booking-page input:disabled {
    background: var(--color-bg-secondary);
    border-color: var(--color-bg-secondary);
    color: var(--color-text-secondary);
    cursor: not-allowed; }
  div.booking-page button[disabled]:hover {
    filter: none; }
  div.booking-page form {
    display: block;
    max-width: var(--width-card-wide);
    min-width: var(--width-card);
    text-align: var(--justify-normal); }
  div.booking-page form header {
    margin: 1.5rem 0;
    padding: 1.5rem 0; }
  div.booking-page input,
  div.booking-page label,
  div.booking-page select,
  div.booking-page textarea {
    display: block;
    font-size: inherit;
    font-family: inherit;
    max-width: var(--width-card-wide); }
  div.booking-page input[type="checkbox"],
  div.booking-page input[type="radio"] {
    display: inline-block; }
  div.booking-page input[type="checkbox"] + label,
  div.booking-page input[type="radio"] + label {
    display: inline-block;
    font-weight: normal;
    position: relative;
    top: 1px; }
  div.booking-page input,
  div.booking-page select,
  div.booking-page textarea {
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    padding: 0.4rem 0.8rem; }
  div.booking-page input[readonly],
  div.booking-page textarea[readonly] {
    background-color: var(--color-bg-secondary); }
  div.booking-page label {
    font-weight: bold;
    margin-bottom: 0.2rem; }
  div.booking-page table {
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    border-spacing: 0;
    display: inline-block;
    max-width: 100%;
    overflow-x: auto;
    padding: 0;
    white-space: nowrap; }

/*
copy from layout.vue
*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: var(--header-height);
  padding: 0 calc(var(--space) / 2);
  top: 0;
  z-index: 10;
  background-color: #fff; }
  .header__left, .header__right {
    display: flex;
    align-items: center; }
  @media screen and (min-width: 1300px) {
    .header {
      position: sticky;
      width: 100%; } }
.main {
  margin: 0 auto;
  padding: 1.5vw 15px 0; }

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(var(--space) / 2);
  font-size: 0.8em; }
  .footer > span {
    margin: 0 0.35em; }
  .footer a {
    color: currentColor; }
  .footer__left, .footer__right {
    display: flex;
    align-items: center; }

/*
copy headerlogo
*/
.logo {
  text-decoration: none;
  color: var(--body-color) !important;
  font-size: 0.9em; }
  .logo__image {
    vertical-align: middle;
    border-radius: 99px;
    height: 40px;
    width: 40px;
    margin-right: 0.5em; }

/*
copy navigation.vue
*/
.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.z-nav {
  margin-bottom: 0;
  padding-bottom: 0; }
  .z-nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .z-nav li {
    float: left; }
  .z-nav a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    font-weight: 600;
    color: var(--bg-color); }

.z-subnav {
  margin-bottom: 0;
  padding-bottom: 0; }
  .z-subnav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .z-subnav li {
    float: left; }
  .z-subnav a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    font-weight: 400;
    color: var(--bg-color); }

/*
footer-parts
*/
.z-foot ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.z-foot li {
  float: left; }

.z-foot a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  font-weight: bold; }

/*

copy from index.vue

*/
.post-title {
  padding: calc(var(--space) / 2) 0 calc(var(--space) / 2);
  text-align: center; }

.post {
  background-color: var(--bg-color); }
  .post__header {
    width: calc(100% + var(--space) * 2);
    margin-left: calc(var(--space) * -1);
    margin-top: calc(var(--space) * -1);
    margin-bottom: calc(var(--space) / 2);
    overflow: hidden;
    border-radius: var(--radius) var(--radius) 0 0; }
    .post__header img {
      width: 100%; }
    .post__header:empty {
      display: none; }
  .post__content h2:first-child {
    margin-top: 0; }
  .post__content p:first-of-type {
    font-size: 1em;
    color: var(--body-color); }
  .post__content img {
    width: calc(100% + var(--space) * 2);
    margin-left: calc(var(--space) * -1);
    display: block;
    max-width: none; }

.post-comments {
  padding: calc(var(--space) / 2); }
  .post-comments:empty {
    display: none; }

.post-author {
  margin-top: calc(var(--space) / 2); }
